<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjx913.es.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="role">
        <id  column="id" property="id"/>
        <association column="name" property="name"/>
        <association column="available" property="available"/>
    </resultMap>


    <select id="selectAllRoles" resultMap="BaseResultMap">
        SELECT id,name,available
        from sys_role
    </select>

    <select id="selectRolesByUserId" parameterType="string" resultMap="BaseResultMap">
        SELECT id,name,available
        from sys_role,sys_user_role
        where id = role_id and user_id=#{userId}
    </select>
</mapper>